<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <div>
    <div>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius, debitis quidem. Quasi veniam amet quaerat dicta hic, adipisci labore ab temporibus vero. Dolores quos impedit molestias iste amet sunt exercitationem?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex placeat eveniet non perferendis fugiat saepe aliquam inventore fugit iure, dolorem, error sunt eaque corporis velit possimus eum neque! Enim, tempore!Loremlo Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores tempore, quia porro repellendus reprehenderit ratione, quas rem recusandae iusto provident laudantium veniam asperiores amet id excepturi repudiandae iste cupiditate commodi?  Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia commodi laborum facere iure fugit officiis deleniti, officia ducimus at dignissimos dolorem eveniet voluptate repudiandae dolor ratione incidunt laudantium, optio culpa!
    </div>
    <form method="get" action="/">
      <button type="submit" >Logout</button>
    </form>
  </div>
</body>
</html>