<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
  <div >
    <div><%=data%></div>
    <form method="post" action="/register" >
     <label for="username">Username
      <input id="username" name="username" type="text"/>
     </label>
     
     <label  for="password">Password <input name="password" id="password" type="password"/></label>
     
      <button  type="submit" >Register</button>
    </form>
   
  </div>
</body>
</html>